<%- include('../template/top', {contentTitle:"Publicações", pageSelected:{publicacoes:"active"}});%>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="row"> <div class="col-md-12">
                <!-- TODO -> COLOCAR UMA MENSAGEM AQUI -->
                <%- include('../template/mensagem', {mensagem: mensagem});%>
                <!-- FIM -->
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Cadastrar Publicação</h4>
                        <p class="category">Preencha os dados</p>
                    </div>
                    <div class="card-content">
                        <form action="/admin/publicacoes" method="POST">
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Título*</label>
                                        <input type="text" class="form-control" name="titulo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Autor*</label>
                                        <input type="text" class="form-control" name="autor" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Tipo de publicação*</label>
                                        <input type="text" class="form-control" name="tipo_publicacao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group is-empty is-fileinput">
                                        <input type="file" id="inputFile4">
                                        <div class="input-group">
                                            <input type="text" readonly="" class="form-control" placeholder="Selecione o arquivo*" required>
                                            <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                <i class="material-icons">attach_file</i>
                                                </button>
                                            </span>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Curso</label>
                                        <input type="text" class="form-control" name="curso">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Editora</label>
                                        <input type="text" class="form-control" name="editora">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Número de edição</label>
                                        <input type="text" class="form-control" name="numero_edicao">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-2">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Idioma</label>
                                        <input type="text" class="form-control" name="idioma">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">País da publicação</label>
                                        <input type="text" class="form-control" name="pais_publicacao">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Ano</label>
                                        <input type="text" class="form-control" name="ano_publicacao">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Instituição</label>
                                        <input type="text" class="form-control" name="instituicao">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Sumário</label>
                                        <input type="text" class="form-control" name="sumario">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Referências</label>
                                        <input type="text" class="form-control" name="referencias">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Palavras-chave</label>
                                        <input type="text" class="form-control" name="palavras_chaves">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Resumo/Sinopse</label>
                                        <div class="form-group label-floating">
                                            <textarea class="form-control" rows="5" name="resumo_sinopse"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">ISBN/ISSN</label>
                                        <input type="text" class="form-control" name="isbn_issn">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                            <a href="/admin/publicacoes" class="btn btn-danger pull-right">Voltar</a>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/bottom');%>