<%- include('../template/top', {contentTitle:"Publicações", pageSelected:{publicacoes:"active"}});%>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="row"> <div class="col-md-12">
                <!-- TODO -> COLOCAR UMA MENSAGEM AQUI -->
                <%if(mensagem.erro){%>
                    <h1><%=mensagem.erro%></h1>
                <%}%>
                <%if(mensagem.sucesso){%>
                    <h1><%=mensagem.sucesso%></h1>
                <%}%>
                <!-- FIM -->
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Cadastrar Publicação</h4>
                        <p class="category">Preencha os dados</p>
                    </div>
                    <div class="card-content">
                        <form action="/admin/publicacoes" method="POST">
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Título*</label>
                                        <input type="text" class="form-control" name="titulo" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Autor*</label>
                                        <input type="text" class="form-control" name="autor" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Organizador</label>
                                        <input type="text" class="form-control" name="organizador">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Curso</label>
                                        <input type="text" class="form-control" name="curso">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Editora</label>
                                        <input type="text" class="form-control" name="editora">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Número de edição</label>
                                        <input type="text" class="form-control" name="numero_edicao">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Tipo de publicação*</label>
                                        <input type="text" class="form-control" name="tipo_publicacao" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                            </div>
                            <div class="row"> 
                                <div class="col-md-2">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Idioma</label>
                                        <input type="text" class="form-control" name="idioma">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">País da publicação</label>
                                        <input type="text" class="form-control" name="pais_publicacao">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Ano</label>
                                        <input type="text" class="form-control" name="ano_publicacao">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Instituição</label>
                                        <input type="text" class="form-control" name="instituicao">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Sumário</label>
                                        <input type="text" class="form-control" name="sumario">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Referências</label>
                                        <input type="text" class="form-control" name="referencias">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Palavras-chave</label>
                                        <input type="text" class="form-control" name="palavras_chaves">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Resumo/Sinopse</label>
                                        <div class="form-group label-floating">
                                            <textarea class="form-control" rows="5" name="resumo_sinopse"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">ISBN/ISSN</label>
                                        <input type="text" class="form-control" name="isbn_issn">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Company (disabled)</label>
                                        <input type="text" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Username</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Email address</label>
                                        <input type="email" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Fist Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Last Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row"> <div class="col-md-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adress</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Country</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Postal Code</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row"> <div class="col-md-12">
                                    <div class="form-group">
                                        <label>About Me</label>
                                        <div class="form-group label-floating">
                                            <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../template/bottom');%>