<nav class="navbar navbar-expand-lg bg-danger fixed-top <%=config.transparent?'navbar-transparent':''%>" <%=config.colorScroll? "color-on-scroll="+config.colorScroll:''%>>
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="/" rel="tooltip" data-placement="bottom">
                Biblioteca Virtual
            </a>
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" data-nav-image="/img/blurred-image-1.jpg">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/publicacoes">
                        <i class="now-ui-icons files_paper"></i>
                        <p>Publicações</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>