<%- include('template/top', {contentTitle:"Home", pageSelected:{home:"active"}});%>
    
    <div class="content">
        <div class="container-fluid">
            
        </div>
    </div>
<%- include('template/bottom');%>