<%if(mensagem.info.length){%>
<div class="alert alert-info">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">info_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%for(var i = 0; i<mensagem.info.length; i++){%>
        <b>Informação: </b> <%=mensagem.info[i]%>
        <%}%>
    </div>
</div>
<%}%>
<%if(mensagem.success.length){%>
<div class="alert alert-success">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">check</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%for(var i = 0; i<mensagem.success.length; i++){%>
        <b>Sucesso: </b> <%=mensagem.success[i]%>
        <%}%>
    </div>
</div>
<%}%>
<%if(mensagem.warning.length){%>
<div class="alert alert-warning">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">warning</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%for(var i = 0; i<mensagem.warning.length; i++){%>
        <b>Aviso: </b> <%=mensagem.warning[i]%>
        <%}%>
    </div>
</div>
<%}%>
<%if(mensagem.danger.length){%>
<div class="alert alert-danger">
    <div class="container-fluid">
        <div class="alert-icon">
            <i class="material-icons">error_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <%for(var i = 0; i<mensagem.danger.length; i++){%>
            <b>Alerta:</b> <%=mensagem.danger[i]%>
        <%}%>
    </div>
</div>
<%}%>