<div class="sidebar" data-color="red" data-image="/img/sidebar-1.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <a href="/" class="simple-text">
            Biblioteca Virtual
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="<%=pageSelected.home%>">
                <a href="/admin">
                    <i class="material-icons">dashboard</i>
                    <p>Home</p>
                </a>
            </li>
            <li class="<%=pageSelected.publicacoes%>">
                <a href="/admin/publicacoes">
                    <i class="material-icons">content_paste</i>
                    <p>Publicações</p>
                </a>
            </li>
            <li class="<%=pageSelected.usuarios%>">
                <a href="/admin/usuarios">
                    <i class="material-icons">content_paste</i>
                    <p>Usuários</p>
                </a>
            </li>
        </ul>
    </div>
</div>