

<div class="modal fade" id="pesquisaAvancada" tabindex="-1" role="dialog" aria-labelledby="pesquisaAvancada" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up">Pesquisa avançada</h4>
            </div>
            <div class="modal-body">
                <form action="/publicacoes?advanced=true" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Título</label>
                                <input type="text" class="form-control" name="titulo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group label-floating">
                                <label class="control-label">Autor</label>
                                <input type="text" class="form-control" name="autor">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group label-floating">
                                <label class="control-label">Palavra-chave</label>
                                <input type="text" class="form-control" name="palavras_chaves">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Tipo da publicação</label>
                            <select class="form-control" name="tipo_publicacao" title="Tipo da publicação">
                                <option>Qualquer</option>
                                <option>Artigo</option>
                                <option>Dissertação</option>
                                <option>Fascículo</option>
                                <option>Livro</option>
                                <option>Monografia</option>
                                <option>Plano de Aula</option>
                                <option>Revista</option>
                                <option>Tese</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Curso</label>
                                <input type="text" class="form-control" name="curso">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Editora</label>
                                <input type="text" class="form-control" name="editora">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Número de edição</label>
                                <input type="text" class="form-control" name="numero_edicao">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">ISBN/ISSN</label>
                                <input type="text" class="form-control" name="isbn_issn">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">Idioma</label>
                                <input type="text" class="form-control" name="idioma">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating">
                                <label class="control-label">Ano</label>
                                <input type="text" class="form-control" name="ano_publicacao">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating">
                                <label class="control-label">Instituição</label>
                                <input type="text" class="form-control" name="instituicao">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Pesquisar</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>